<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="de.bahnhoefe.deutschlands.bahnhofsfotos">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"/>

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_launcher"/>
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary"/>
        <!-- [END fcm_default_icon] -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>

                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>
        <activity
            android:name=".MapsActivity"
            android:label="@string/maps_activity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.bahnhoefe.deutschlands.bahnhofsfotos.MainActivity"/>

            <intent-filter>
                <action android:name="de.bahnhoefe.deutschlands.bahnhofsfotos.MapsActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailsActivity"
            android:label="@string/title_activity_details"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.bahnhoefe.deutschlands.bahnhofsfotos.MainActivity"/>

            <intent-filter>
                <action android:name="de.bahnhoefe.deutschlands.bahnhofsfotos.DetailsActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".MyDataActivity"
            android:label="@string/app_name"
            android:exported="true"
            android:launchMode="singleInstance"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.bahnhoefe.deutschlands.bahnhofsfotos.MainActivity"/>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:host="railway-stations.org"
                    android:pathPrefix="/uploadToken"
                    android:scheme="http"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".GalleryActivity"
            android:label="@string/title_activity_gallery"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.bahnhoefe.deutschlands.bahnhofsfotos.MainActivity"/>

            <intent-filter>
                <action android:name="de.bahnhoefe.deutschlands.bahnhofsfotos.GalleryActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".RailwayStationsActivity"
            android:label="@string/railway_stations_activity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.bahnhoefe.deutschlands.bahnhofsfotos.MainActivity"/>

            <intent-filter>
                <action android:name="de.bahnhoefe.deutschlands.bahnhofsfotos.RailwayStationsActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".CountryActivity"
            android:label="@string/country_activity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.bahnhoefe.deutschlands.bahnhofsfotos.MainActivity"/>

            <intent-filter>
                <action android:name="de.bahnhoefe.deutschlands.bahnhofsfotos.CountryActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".HighScoreActivity"
            android:label="@string/title_activity_high_score"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.bahnhoefe.deutschlands.bahnhofsfotos.MainActivity"/>
        </activity>
        <activity
            android:name=".AuthActivity"
            android:label="@string/chatActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.bahnhoefe.deutschlands.bahnhofsfotos.MainActivity"/>

            <intent-filter>
                <action android:name="de.bahnhoefe.deutschlands.bahnhofsfotos.AuthActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".SignInActivity"
            android:label="@string/LogInActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.bahnhoefe.deutschlands.bahnhofsfotos.MainActivity"/>

            <intent-filter>
                <action android:name="de.bahnhoefe.deutschlands.bahnhofsfotos.SignInActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".IntroSliderActivity"
            android:label="IntroSlider"
            android:theme="@style/AppTheme.NoActionBar"/>

        <!-- debug-KEY -->
        <!--
            <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_deb_key" />
        -->


        <!-- release-KEY -->

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_deb_key"/>

        <service
            android:name=".NearbyNotificationService"
            android:enabled="true"
            android:exported="false"/>
        <service
            android:name=".util.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name=".util.MyFirebaseInstanceIdService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="de.bahnhoefe.deutschlands.bahnhofsfotos.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths"/>
        </provider>

    </application>

</manifest>